.root {
    panel-l: #efefef;
    light-input: #aaaaaa;
    light-hover-input: #bbbbbb;
    
    panel-d: #111111;
    dark-input: #444444;
    dark-hover-input: #333333;
}
/* LIGHT MODE*/
.parent {
    -fx-background-color: panel-l;
}

.button-gen {
    -fx-background-color: light-input;
    -fx-text-fill: white;
}

.button-gen:hover {
    -fx-background-color: light-hover-input;
}

.label-gen {
    -fx-text-fill: black;
}

.input-gen {
    -fx-text-fill: black;
    -fx-border: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 0;
    -fx-border-color: #111111;
}

.choice-gen {
    -fx-background-color: light-input;
    -fx-text-fill: white;
}

.choice-gen:hover {
    -fx-background-color: light-hover-input;
}


/* DARK MODE */

.parent-dark {
    -fx-background-color: panel-d;
}

.button-gen-dark {
    -fx-background-color: dark-input;
    -fx-text-fill:white;
}

.button-gen-dark:hover {
    -fx-background-color: dark-hover-input;
}

.label-gen-dark {
    -fx-text-fill: white;
}

.input-gen-dark {
    -fx-text-fill: white;
    -fx-background-color: dark-input;
    -fx-border: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 0;
    -fx-border-color: #111111;
}

.choice-gen-dark {
    -fx-background-color: dark-input;
    -fx-text-fill: white;
}

.choice-gen-dark:hover {
    -fx-background-color: dark-hover-input;
}
